<div class="row">
    <div class="col-sm-6">
        <h4>REGIONAL SALES STATUS</h4>
    </div>
    <div class="col-sm-2">Starts From:
    </div>
    <div class="col-sm-2">Ends From:</div>
</div>
<br>
<div class="row">
    <div class="col-sm-12">
        <map-directive id="mapDirective"></map-directive>
    </div>
</div><br>
<div class="row">
    <div class="col-sm-3">
        <market-share-directive></market-share-directive>
    </div>
    <div class="col-sm-3">
        <revenue-directive></revenue-directive>
    </div>
    <div class="col-sm-3">
        <order-directive></order-directive>
    </div>
    <div class="col-sm-3">
        <customer-directive></customer-directive>
    </div>
</div>