<div class="row">
    <div class="col-sm-7">
        <h4>REGIONAL SALES STATUS</h4>
    </div>
    <div class="col-sm-2">
        <span class="ttl">Starts From:</span>
        <input type="date" name="" ng-model="vm.startDate" id="dtStart">
    </div>
    <div class="col-sm-2">
        <span class="ttl">Ends From:</span>
        <input type="date" name="" id="dtEnd" ng-model="vm.endDate">
    </div>
    <div class="col-sm-1">
        <br>
        <button id="btnGo" ng-click="vm.loadAgain()">Go</button>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-12">
        <map-directive id="mapDirective"></map-directive>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-3">
        <market-share-directive></market-share-directive>
    </div>
    <div class="col-sm-3">
        <revenue-directive></revenue-directive>
    </div>
    <div class="col-sm-3">
        <order-directive></order-directive>
    </div>
    <div class="col-sm-3">
        <customer-directive></customer-directive>
    </div>
</div>